{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Ryan's Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/logo.png') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">About Me</h5>
                    <p class="card-text">
                        <ol>
                            <li>My name is Ryan McWeeny</li>
                            <li>I am 16 years old, I play trumpet, and I like to program with python in my free time.</li>
                            <li>I am a drum major in the Del Norte marching band</li>
                            <li>I play trumpet in multiple jazz bands and concert bands</li>
                            <li>I have made multiple games with pygame and I am excited to expand my knowledge of computer science in this class</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}